<div class="customize">
    {{!-- <img src="{{image}}" alt="{{name}}" class="card-img-top"> --}}
    <div class="customize-body">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
    </div>

    <div class="card-body">
        <button class="btn btn-primary" type="button" onclick="addToCart"></button>
    </div>
</div>