<h1>Thank you for ordering!</h1>
<h3 style="text-align: center">We appreciate your business.</h3>
<div class="container">
    <a class="btn btn-success" role="button" href="/users/Menu">Back to Menu</a>
</div>